{% extends 'base.html' %}

{% block title %} {{ team.name }} {% endblock %}

{% block content %}
{% load static %}
<!--{% if user.profile.team and team == user.profile.team or not user.profile.team %} col-8 {% else %} col-12 {% endif %}-->
<div class="container">
    <div class="row margin-class">
        <div class="col-7">
            <h3 class="text-main">{{ team.name }}</h3>
            <ul class="centered-ul">
                {% for teammate in teammates %}
                <li style="list-style: none" class="margin-class">
                    <div class="list-element text-second-org">
                        <img class="person-icon" src="{% static 'img/man.svg' %}">
                        {{ teammate.user.username }} - {{ teammate.position }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-5 std-link">
            <h6 class="text-main" style="text-align: left">Другие команды:</h6>
            <ul class="rounded std-list">
                {% for team in available_teams %}
                <li style="list-style: none">
                    <a class="text-second" href="{% url 'team_info' team.id %}">{{ team.name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% if team == user.profile.team %}
                <div class="margin-class">
                    <a class="margin-class text-second-org std-link" style="text-align: left" href="{% url 'leave_team' %}" >
                        <img class="lil-icon icon" src="{% static 'img/exit.svg' %}">
                        <span>Покинуть команду</span>
                    </a>
                </div>
                <div class="margin-class">
                    <a class="margin-class text-second-org std-link" style="text-align: left" href="{% url 'edit_team' team.id %}" >
                        <img class="lil-icon icon" src="{% static 'img/edit.svg' %}">
                        <span>Редактировать команду</span>
                    </a>
                </div>
                <div class="margin-class">
                    <a class="margin-class text-second-org std-link" style="text-align: left" href="{% url 'delete_team' team.id %}" >
                        <img class="lil-icon icon" src="{% static 'img/delete_icon.svg' %}">
                        <span>Удалить команду</span>
                    </a>
                </div>
            {% elif not user.profile.team %}
                <div class="margin-class">
                    <a class="margin-class text-second-org std-link" style="text-align: left" href="{% url 'join_team' team.id %}">
                        <img class="lil-icon icon" src="{% static 'img/join_team.svg' %}">
                        Присоединиться к команде
                    </a>
                </div>
            {% else %}
                <div class="margin-class" style="text-align: left">
                    <a class="margin-class text-second-org std-link" style="text-align: left" href="{% url 'team_info' user.profile.team.id %}">
                        <img class="lil-icon icon" src="{% static 'img/home.svg' %}">
                        К моей команде
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}